
<h1><%= @listing.title %></h1>
<div class="section">
  <h2><%= button_to 'Like', action: "orbit", id: @id, month: @month, year: @year, lease_length: @lease_length, roommates: params[:roommates]   %></h2>
</div>
