/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.follower {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Force Hardware Acceleration in WebKit */
  background: #c03b44;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.holder {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Force Hardware Acceleration in WebKit */
  float: left;
  border-radius: 50%;
  box-shadow: 0 0 0 4px black, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.selected {
  float:left;
}

.slick-slide {
  width: 80px;
}
