/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.delete_picture {
  position: absolute;
  right: 2px;
  z-index: 100;
	color: lightcoral;
}

.delete_picture:hover {
	color: darkgrey;
}


#sidebar h3.inner{
	margin:-1px -21px 10px -21px;
	background-color:#565a5c;
	padding:10px 20px 10px 18px;
	color:#fff;
	border:1px solid #fff;
	text-align:center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.listing-title {
  font-size: 33px;
}

.listing-price {
  float: right;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 15px;
}

.listing-address {
  font-size: 13px;
  font-weight: 100;
}

.image-container {
  width:100%;
  height:550px;
  display:block;
  position:relative;
  overflow:hidden;
}

.image-container img {
  position:absolute;
  object-fit: cover;
  top:0;
  left:0;
  width:100%;
}

.listing-header {
  max-height: 650px;
  width: auto;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  background-size:cover;
}
/* Parallax bg */
.parallax-window {
  min-height: 470px;
	background: transparent;
	position:relative;
}
.parallax-content-1{
   display: table;
   width:100%;
   height:470px;
}
.parallax-content-1 > div{
  display: table-cell;
  padding:0 15%;
   vertical-align: middle;
	text-align:center;
	color:#fff;
	font-size:16px;
}
.parallax-content-1 div h1, .parallax-content-1 div h3{
	font-size:48px;
	text-transform:uppercase;
	font-weight:bold;
	color:#fff;
}
#price_single_main.hotel{
	padding-top:40px;
}
.parallax-content-1 div h1{
	margin-bottom:0;
	padding-top:40px;
}
.parallax-content-1 div h1:before,.parallax-content-1 div h1:after {
	display: inline-block;
    width: 50px;
    height: 1px;
    content: '';
    vertical-align: middle;
    background: rgba(255,255,255,0.5);
}
.parallax-content-1 div h1:before{
    margin-right: 10px;
}

.parallax-content-1 div h1:after {
    margin-left: 10px;
}

.parallax-content-1 div a i{
	color:#fff;
	opacity:0.5;
	font-size:72px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.parallax-content-1 div a:hover i{
	opacity:1;
}

.parallax-content-2{
	position:absolute;
	left:0;
	bottom:0;
	z-index:15;
  padding:18px 0 20px 0;
	color:#fff;
	font-size:13px;
  background-color: rgba(0,0,0,0.5);
	width:100%;
}
.parallax-content-2 div h1{
	font-size:36px;
	text-transform:uppercase;
	font-weight:bold;
	color:#fff;
	margin:0;
}

.parallax-content-2 .rating{font-size:14px;}

// Crew Selection

.styled-select {
  width: 240px;
   height: 34px;
   overflow: hidden;
   border: 1px solid #ccc;
}

.profile-whole {
	width: 100px;
	height: 100px;
	float: left;
}

.profile-block {
	display: none;
	position: absolute;
	margin-top: 13px;
	margin-left: 105px;
	background-color: white;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	color: black;
	width: 150px;
	height: 75px;
	vertical-align: middle;

	h3 {
		margin-left: 10px;
		margin-right: 10px;
		overflow: hidden;
		text-align: left;
		margin-top: 10px;
		margin-bottom: 2px;
		padding: 0;
		font-size: small;
		font-weight: 400;
	}

	p {
		height: 45px;
		text-align: left;
		font-size: 11px;
		overflow: hidden;
		padding-right: 10px;
		padding-left: 10px;
	}
}

.profile-block::before {
	content: '';
  position: absolute;
  top: 25px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.profile-block:hover {
	display: block;
}

.follower {
	z-index: 100;
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Force Hardware Acceleration in WebKit */
  background-size:cover;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.follower:hover + .profile-block {
	display: block;

}

.member-item {
	width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Force Hardware Acceleration in WebKit */
  float: left;
  border-radius: 50%;
	background-size: cover;
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.member-item:hover + .profile-block {
	display: block;
}

.holder {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Force Hardware Acceleration in WebKit */
  float: left;
  border-radius: 50%;
  box-shadow: 0 0 0 4px darkgray, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.selected {
  float:left;
}

.slick-slide {
  width: 80px;
}

#emails.email-invite {
	width: 72%;
  margin-right: 5px;
	background-color: white;
}

.btn-email-create {
	width: 25%;
}

.email-form {
	width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.your-class {
	text-align: center;
	h4 {
		padding-top: 5px;
		padding-bottom: 10px;
	}
}

	.selected-block {
		text-align: center;
		margin-bottom: 10px;
		width: 100%;
	}

	.selected-users {
		display: inline-block;
    margin-left: auto;
    margin-right: auto;
	}

	.sidebar-invite {
		margin-bottom: 15px;
	}
