@import "bootstrap-sprockets";
@import "bootstrap";
@import "animate.min.css";							/* Animate On Page Scroll */
@import "style.css";										/* Main theme styles */
@import "menu.css";										/* Menu styles */
@import "responsive.css";					      /* Responsive */
@import "icon_set_1.css";		            /* Icon pack */
@import "icon_set_2.css";		           /* Icon pack */
@import "stylesheets/fontello/fontello.css";			 /* Icon pack */

.styled-select {
  width: 240px;
   height: 34px;
   overflow: hidden;
   border: 1px solid #ccc;
}
